{% extends "base.html" %}



{% block content %}
<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
		<h3 class = 'lead text-align-center'>About Us </h3>
	<p class = 'lead'> The people of hadoe has a deep passion for the improvement of education for the African community, and by doing so having a positive impact in people’s lives. This is done through the use of data acquisition and analysis to optimally bring educational and financial stimulus to the African education market. The focus is to make education more accessible to Africa by means of an open platform that is free of charge to connect tutors and students in a market specific way of profiling. </p>
	<p class = 'lead'> Education is a fundamental factor of economic development. Investment in human capital has proven to be crucial to the survival and growth of modern economies. Education can act as a powerful instrument – a catalyst – for improving the skill  set of the labour force and can stimulate and encourage entrepreneurship, innovation, and technological advances. With the African continent becoming a highly competitive market place, education can play a key role in unlocking Africa’s growth potential. Through empowering individuals to act as agents of societal and economic change, education can create the opportunities necessary to bring about crucial improvements in the lives of millions of people. </p>
	</div>

</div>

{% endblock %}