{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<div class = 'row'>
	<div class="container" style = ' background-color: rgb(198, 198, 205);'>
			<div class = 'col-sm-3'>
		
		<img src="{% static 'img/coetzee_profile.jpg' %} " class = 'img-responsive' height = '200'/>
	</div>
	<div class = 'col-sm-9'>
		<p class = 'lead text-align-center'> Project Guru</p>
		<br></br>
		<p> Can you say "Goosfraba"  When stuff starts hitting the fan, this oasis of calm keeps things under wrap.  Making sure deadlines are met and things stay on point, this guy keeps track of the chaos and helps deliver your favourite service</p>
	</div>

</div>
</div>
<br></br>

	<div class = 'row'>
		<div class="container" style = ' background-color: rgb(198, 198, 205);'>
	<div class = 'col-sm-3'>
		
		<img src="{% static 'img/christo_profile.jpg' %} " class = 'img-responsive' height = '200'/>
	</div>
	<div class = 'col-sm-9'>
		<p class = 'lead text-align-center'> Dev Ninja</p>
		<br></br>
		<p>Odds are, you won't ever see this guy. Just like a Ninja. He's just too busy being a master in his craft.  Coding up a storm, he is the one that makes sure there even is a system.  Without him, you wouldn't be reading this.</p>
	</div>
	</div>
	</div>
	<br></br>


	<div class = 'row'>
		<div class="container" style = ' background-color: rgb(198, 198, 205);'>
	<div class = 'col-sm-3'>
		
		<img src="{% static 'img/vanessa_profile.jpg' %} " class = 'img-responsive' height = '200'/>
	</div>
	<div class = 'col-sm-9'>
		<p class = 'lead text-align-center'> Finance Wizard</p>
		<br></br>
		<p>Not Gandalf nor Dumbledore can hold their ground against this wizard.  She'll work circles around their pointy hats, making sure the numbers add up and that we hence continue to provide you with the best service in the business.</p>
	</div>
	</div>
	</div>
	<br></br>

	<div class = 'row'>
		<div class="container" style = ' background-color: rgb(198, 198, 205);'>
	<div class = 'col-sm-3'>
		
		<img src="{% static 'img/karel_profile.jpg' %} " class = 'img-responsive' height = '200'/>
	</div>
	<div class = 'col-sm-9'>
		<p class = 'lead text-align-center'> Data Kingpin</p>
		<br></br>
		<p>Ever heard of a Kingpin?  This is the guy who controls the flow and exchange of...things.  In this case, data.  He tells us what we need to know to make your experience the best there is.  He makes the system work. </p>
	</div>
	</div>
	</div>
	<br></br>

	<div class = 'row'>
		<div class="container" style = ' background-color: rgb(198, 198, 205);'>
	<div class = 'col-sm-3'>
		
		<img src="{% static 'img/stefan_profile.jpg' %} " class = 'img-responsive' height = '200'/>
	</div>
	<div class = 'col-sm-9'>
		<p class = 'lead text-align-center'> Business Superhero</p>
		<br></br>
		<p>What do you do when you need recuing? Us, we turn to this guy.  When we're in peril he comes flying in, making sure the work is done according to spec and that no-one is left in the dark with no hope of salvation.</p>
	</div>
	</div>
	</div>
	<br></br>
	{% endblock %}